{% extends 'base.html' %}

{% block title %}Modificar artículo{% endblock %}

{% block content %}
<div class="card card-sm mx-auto " style="margin-top: 60px;width: 900px; max-height: 500px;height: 500px ">
  <div class="card-body">
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.nuevo_titulo.id_for_label }}" class="form-label">Nuevo título:</label>
        <input type="text" id="{{ form.nuevo_titulo.id_for_label }}" name="{{ form.nuevo_titulo.name }}" value="{{ article.title }}" class="form-control">
      </div>
      <div class="form-group">
        <label for="{{ form.nueva_descripcion.id_for_label }}" class="form-label">Nueva descripción:</label>
        <textarea id="{{ form.nueva_descripcion.id_for_label }}" name="{{ form.nueva_descripcion.name }}" class="form-control"style="height: 280px">{{ article.description }} </textarea>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 5px">Guardar cambios</button>
    </form>
  </div>
</div>
<style>
  .form-group input,
  .form-group textarea {
    height: auto;
    resize: none;
  }
</style>
{% endblock %}